{% extends('base.html.twig') %}

{% block body %}
        <div class="col">
                    <h1> {{mention_leg}}</h1>
        </div>
            <div class="row">
                <div class="col">
                </div>
                <div class="col rounded-1 border border-2">
                    <h5>Mentions</h5>
                    <p>With supporting text below as a natural lead-in to additional content</p>
                    <input class="btn btn-primary" type="button" value="Go somewhere">
                </div>
            </div>
{% endblock %}